@font-face {
    font-family: 'ScriptinaPro';
    src: url('../lib/36EAC5_3_0.eot');
    src: url('../lib/36EAC5_3_0.eot?#iefix') format('embedded-opentype'),url('../lib/36EAC5_3_0.woff2') format('woff2'),url('../lib/36EAC5_3_0.woff') format('woff'),url('../lib/36EAC5_3_0.ttf') format('truetype');
}

body {
    background-color: #ececf6;
}

.for2 {
    margin: 0 0 0 25px;
    font-family: 'ScriptinaPro', Bookman Old Style, Helvetica, sans-serif;
    font-size: 1em;
    color: red;
    font-weight: 900;
}

.for3 {
    font-family: 'ScriptinaPro', Bookman Old Style, Helvetica, sans-serif;
    font-size: 4em;
    color: red;
    font-weight: 900;
    text-shadow: 2px 2px 10px black;
}

.top60 {
    margin-top: 85px;
}

.footer {
    width: 100%;
    margin-top: 100px;
    padding: 20px;
    height: 160px;
    background-color: #f5f5f5;
}

.mh-8 {
    height: 8rem !important;
    width: 100%;
    background-color: #e7e7e7 !important;
}

.mh-2 {
    height: 2rem !important;
    width: 100%;
    background-color: #3097D1 !important;
    color: whitesmoke;
}

.card {
    margin-bottom: 10px;
}

.card:hover {
    border-color: #007bff !important;
    color: #007bff !important;
    background-color: #ffc;
}

.h-n {
    max-height: 200px;
}

.w-100-p {
    max-width: 100px;
}

.mosaicflow__item { 
      padding:3px; 
} 
.mosaicflow__column { 
      float:left; 
} 
.mosaicflow__item img { 
      display:block; 
      width:100%; 
      height:auto; 
      padding: 4px; 
      background-color: #fff; 
      border: 1px solid #ddd; 
      border-radius: 4px; 
} 
.mosaicflow__item img:hover { 
      opacity: 0.6; 
      filter: alpha(opacity=60); 
    }

.ui-datepicker {
    background-color: white !important;
    border: 3px solid black;
    z-index: 1000;
}
    
a.nonund:hover {
    text-decoration: none;
}

.logo {
    height: 45px;
}
